<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Artistic Gallery{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div style="display:flex;flex-direction:column;min-height:100vh;">
        <header>

            <nav>
                <div class="logo">Artistic Gallery</div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>

                    {% if username %}
                        <li><a href="/logout">Logout</a></li>
                        <li><span>{{ username }}</span></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <p>&copy; 2024 Artistic Gallery. All rights reserved.</p>
<!--            <ul class="footer-links">-->
<!--                <li><a href="/privacy">Privacy Policy</a></li>-->
<!--                <li><a href="/terms">Terms of Service</a></li>-->
<!--            </ul>-->
        </footer>
    </div>
</body>
</html>