<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div style="display:flex;flex-direction:column">
    <header>
        <nav>
            <div class="logo">Artistic Gallery</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="./login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero" style="flex:1">
        <h1>Welcome to Artistic Gallery</h1>
        <p>one-stop solution for all Art forms.</p>
    </section>

    <footer style="position:bottom">
        <p>&copy; 2024 MyWebsite. All rights reserved.</p>
    </footer>
    </div>
</body>
</html>
